torch
transformers
lightning
sentence-transformers
timm
pillow
numpy
nltk
boto3
sacremoses
tensorboard
jupyterlab
scipy
scikit-learn
jsonargparse[signatures]
spacy
pandas
datasets
accelerate
wandb
torchvision
einops